<div *ngIf="!isAuthenticated; else authenticatedTemplate">
    <button class="w-full px-4 py-2 text-blue-800 rounded border border-blue-800 cursor-pointer" (click)="login()">
        Connexion
    </button>
</div>

<ng-template #authenticatedTemplate>
    <h1 class="text-3xl font-bold">Profil</h1>
    <form class="mt-4 space-y-4">
        <div class="flex space-x-4">
            <div class="flex-1">
                <label for="firstName" class="block text-sm font-medium text-gray-700">Prénom</label>
                <input id="firstName" name="firstName" type="text" [(ngModel)]="user.family_name"
                    class="block w-full p-2 ps-2 text-sm text-gray-900 border shadow-md border-gray-700 rounded-lg bg-white focus:ring-blue-800 focus:border-blue-800" />
            </div>

            <div class="flex-1">
                <label for="lastName" class="block text-sm font-medium text-gray-700">Nom</label>
                <input id="lastName" name="lastName" type="text" [(ngModel)]="user.given_name"
                    class="block w-full p-2 ps-2 text-sm text-gray-900 border shadow-md border-gray-700 rounded-lg bg-white focus:ring-blue-800 focus:border-blue-800" />
            </div>
        </div>

        <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <input id="email" name="email" type="email" [(ngModel)]="user.email"
                class="block w-full p-2 ps-2 text-sm text-gray-900 border shadow-md border-gray-700 rounded-lg bg-white focus:ring-blue-800 focus:border-blue-800" />
        </div>
    </form>

    <div class="my-10">
        <h1 class="text-3xl font-bold">Favoris</h1>
        <div *ngIf="favorites.length > 0; else noFavorites">
            <app-favorite-item *ngFor="let favorite of favorites" [favorite]="favorite"></app-favorite-item>
        </div>
        <ng-template #noFavorites>
            <p class="text-gray-500">Vous n'avez aucun favori pour le moment.</p>
        </ng-template>
    </div>


    <div class="my-10">
        <h1 class="text-3xl font-bold">Historique</h1>
        <div *ngIf="histories.length > 0; else noHistories">
            <app-history-item *ngFor="let history of histories" [history]="history"></app-history-item>
        </div>
        <ng-template #noHistories>
            <p class="text-gray-500">Aucun historique disponible.</p>
        </ng-template>
    </div>

    <button class="w-full px-4 py-2 text-red-600 rounded border border-red-600 cursor-pointer" (click)="logout()">
        Logout
    </button>
</ng-template>