<nav class="bg-blue-900 z-20 top-0 start-0 border-gray-200">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/assets/images/logo-hdf.png" alt="HDF Logo" />
        </a>
    </div>
</nav>
<nav class="bg-blue-800">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
            <ul class="flex flex-row font-medium mt-0 rtl:space-x-reverse text-sm text-white">
                <li>
                    <a href="#" class="px-5 py-3" [routerLink]="['home']" routerLinkActive="text-blue-800 bg-white">Home</a>
                </li>
                <li>
                    <a href="#" class="px-5 py-3" [routerLink]="['schedule']" routerLinkActive="text-blue-800 bg-white">Schedule</a>
                </li>
                <li>
                    <a href="#" class="px-5 py-3" [routerLink]="['contact']" routerLinkActive="text-blue-800 bg-white">Contact</a>
                </li>
                <li>
                    <a href="#" class="px-5 py-3" [routerLink]="['profile']" routerLinkActive="text-blue-800 bg-white">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
