<div class="max-w min-h-20 bg-white border shadow-md border-gray-700 rounded-lg my-2">
    <div class="flex items-center">
        <div class="flex items-center space-x-4 p-3 w-full">
            <div class="rounded-lg px-2 py-1 text-white font-bold"
                [style.background-color]="'#' + (history.trip?.route?.color || 'cccccc')">
                {{ history.trip?.route?.id?.id }}
            </div>
            <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-gray-900 truncate">
                    {{ history.trip?.route?.longName }}
                </p>
                <p class="text-sm text-gray-500 truncate">
                    {{ history.trip?.tripHeadsign }}
                </p>
                <p class="text-sm text-gray-500 truncate">
                    {{ history.trip?.tripShortName }}
                </p>
            </div>
            <div>
                <p class="text-sm text-gray-500">
                    Révervé le: {{ history.history.created_at! | formatDateTime }}
                </p>
                <p class="text-sm text-gray-500">
                    Pour le: {{ history.history.reserved_date! | formatDate }}
                </p>
            </div>
        </div>
    </div>
</div>