<div class="max-w min-h-20 border-2 border-gray-700 rounded-lg bg-white cursor-pointer flex items-center" (click)="null">
    <div class="flex items-center space-x-4 p-3 w-full">
        <div class="bg-amber-400 rounded-lg p-1">727</div>
        <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate">
                VIGNACOURT - AMIENS
            </p>
            <p class="text-sm text-gray-500 truncate">
                LR80727
            </p>
        </div>
    </div>
</div>